@import "./common/variables";
@import "./common/grid";
@import "./common/spacing";
@import "./common/dialogs";

  .secondary {
    background-color: $secondary-color;
  }
  
  .error {
    background-color: $error-color;
  }

  .error--text {
    color: $error-color;
  }
  
  .error--border {
    border: 1px solid $error-color;
  }

  .white--border {
    border: 1px solid #fff
  }

  .d-flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-end {
    justify-content: end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .text-right {
    text-align: right;
  }