@use 'sass:math';

$grid-columns: 12;

.row {
    display: flex;
}

@for $i from 1 through $grid-columns {
    $width: math.div($i, $grid-columns) * 100%;
    .col-#{$i} {
      width: $width;
    }
}